<h2>WSOT</h2>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li>
      <%=link_to portfolio.title, portfolio_url(portfolio.id) %> <%= link_to 'delete', "/portfolios/#{portfolio.id}", data: {confirm: 'Are you sure?'}, method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Portfolio', new_portfolio_path %>

<%= link_to 'Tradeable Securities', stocks_path %>

<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>