<h3><%= @portfolio.title %></h3>

<ul>
  <% @positions.each do |position| %>
    <li>
      <%= position.short ? 'SHORT' : 'LONG' %> - <%= position.stock.ticker_symbol %> - $<%= position.quantity * position.open_price %>
    </li>
  <% end %>
</ul>


<%= link_to 'Back to Portfolios', portfolios_path %>

<%= link_to 'New Position', new_portfolio_position_path(portfolio_id: params[:id]) %>