<h3><%= @portfolio.title %></h3>

Cash Available for Trading >> $<%= @portfolio.available_cash %>

<ul>
  <% @positions.each do |position| %>
    <li>
      <%= position.short ? 'SHORT' : 'LONG' %> <%= position.stock.ticker_symbol %>
    </li>
    <li>
      <%= position.quantity %> - <%= position.open_price %>
      Purchase Value: $<%= position.value %>
    </li>
    <li>
      <%= position.quantity %> - <%= position.stock.price %>
      Current Value $<%= position.current_value %>
    </li>
    <li>
      P&L $<%= position.profit_loss %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Portfolios', portfolios_path %>

<% if @portfolio.available_cash < 100 %>
<% else %>
  <%= link_to 'New Position', new_portfolio_position_path(portfolio_id: params[:id]) %>
<% end %>