<h3><%= @portfolio.title %></h3>

Cash Available for Trading >> $<%= @portfolio.available_cash %>

<table>
  <tr>
    <td> Symbol </td>
    <td> Quantity </td>
    <td> Cost </td>
    <td> Market Value </td>
    <td> Gain </td>
  </tr>
  <% @positions.each do |position| %>
    <tr>
      <td><%= position.short ? 'SHORT' : 'LONG' %> - <%= position.stock.ticker_symbol %></td>
      <td><%= position.quantity %></td>
      <td>$<%= position.value %></td>
      <td>$<%= position.current_value %></td>
      <td>$<%= position.profit_loss %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back to Portfolios', portfolios_path %>

<% if @portfolio.available_cash < 100 %>
<% else %>
  <%= link_to 'New Position', new_portfolio_position_path(portfolio_id: params[:id]) %>
<% end %>